<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
<script src="https://kit.fontawesome.com/7845268ad3.js" crossorigin="anonymous"></script>


<div class="flex items-center space-x-2">
  <div class="animate-pulse rounded-full bg-gray-500 h-8 w-8"></div>
  <div class="space-y-2">
    <div class="animate-pulse rounded-md bg-gray-500 h-4 w-[200px]"> </div>
    <div class="animate-pulse rounded-md bg-gray-500 h-4 w-[170px]"> </div>
  </div>
</div>

