<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
  <link href="https://unpkg.com/tailwindcss@^2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="aside">
    <app-aside></app-aside>
  </div>
  <div class="min-h-screen p-4 md:p-8 lg:p-12" style="margin-left: 200px;">
    <div class="max-w-4xl mx-auto">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-3/4 md:mr-4 md:ml-0 my-4 md:my-0">
          <div class="bg-white p-4 md:p-6 lg:p-8 rounded-lg shadow mb-4" style="margin-top: 80px;">
            <!-- Información del usuario y entrada de publicación -->
            <div class="flex mb-4 justify-center">
              <img src="../../../assets/img/perfil.png" alt="Foto de perfil" class="w-40 h-40 rounded-full">
            </div>
            <h1 class="font-bold mb-2 text-center text-4xl md:text-5xl">Nombre de Usuario</h1>
            <hr class="my-2 border-t border-gray-300">
            <div class="flex justify-center items-center text-gray-600 my-4 md:my-8 space-x-4 md:space-x-9">
              <p>Actor Social:</p>
              <p>Entidad:</p>
              <p>Aportes a la comunidad:</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-lg shadow">
              <h2 class="text-xl font-semibold mb-2">Descripción del Perfil:</h2>
              <p class="my-2">Texto de la descripción...</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-lg shadow mt-4">
              <h2 class="text-xl font-semibold mb-2">Intereses de Conocimiento:</h2>
              <p class="my-2">Texto de intereses...</p>
            </div>
            <div class="flex justify-center items-center mt-8">
              <button type="submit" class="text-blue-700 text-3xl">
                <i class="fa-sharp fa-solid fa-location-dot fa-bounce"></i>/
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
