<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>
  <link href="https://unpkg.com/tailwindcss@^2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <header class="bg-blue-500 p-4">
    <app-header></app-header>
  </header>
  <aside class="bg-gray-200 p-4">
    <app-aside></app-aside>
  </aside>
  <main class="flex justify-center items-center min-h-screen">
    <div class="max-w-6xl">
      <div class="bg-white sm:ml-0 sm:p-8 md:p-6 lg:p-8 rounded-lg shadow mb-4">
        <div *ngIf="user"></div>
        <div class="flex mb-4 justify-center">
          <img class="imagen" [src]="user?.userImg || 'https://www.clipartmax.com/png/full/269-2691507_circle.png' "
            alt="Mi Foto de Perfil" class="w-40 h-40 rounded-full">
        </div>

        <h1 class="font-bold mb-2 text-center text-4xl md:text-5xl">{{ user?.userName }}</h1>

        <hr class="my-2 border-t border-gray-300">

        <div class="flex justify-center items-center text-gray-600 my-4 md:my-8 space-x-4 md:space-x-9">
          <p class="text-center">Actor Social: {{ user?.companyNameOrentity}}</p>
          <p class="text-center">Entidad: {{ user?.typEntitySocialActor}}</p>
          <p class="text-center" (click)="toggleContenido()">Aportes a la comunidad:</p>
        </div>
        <div *ngIf="showContentOne">
          <div class="sm:mx-2 mb-8">
            <div class="bg-gray-300 p-2 sm:p-4 rounded-lg shadow mb-8">
              <h2 class="text-lg sm:text-xl font-semibold mb-2">Descripción del Perfil:</h2>
              <p class="my-2">Texto de la descripción...</p>
            </div>
            <div class="bg-gray-300 p-2 sm:p-4 rounded-lg shadow">
              <h2 class="text-lg sm:text-xl font-semibold mb-2">Intereses de Conocimiento:</h2>
              <p class="my-2">Texto de intereses...</p>
            </div>
          </div>
          <div *ngIf="showContentOne"></div>
          <div class="flex flex-col items-center mt-4 sm:mt-8">
            <button type="submit" class="text-blue-700 text-lg sm:text-xl flex flex-col items-center">
              <i class="fas fa-location-dot fa-bounce text-2xl mb-1"></i>
              Bogota/Colombia
            </button>

            <button type="submit" class="text-black bg-[#006186] h-11 w-52 rounded-lg shadow text-lg sm:text-xl"
              (click)="openModal()">

              Actualizar perfil
            </button>

            <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50" *ngIf="isModalVisible">
              <div class="fixed top-0 left-0 w-full h-full bg-black opacity-50"></div>

              <div class="bg-white p-4 rounded-lg shadow-lg z-10 max-h-[80vh] overflow-y-auto">
                <app-modal-user></app-modal-user>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showContentTwo">
          <!-- Publicaciones -->
          <div *ngFor="let publication of listpublications" class="bg-white p-1 rounded-lg shadow mb-4 max-w-lg">
            <div class="relative">
              <button (click)="toggleOptions(publication)"
                class="absolute top-0 right-0 p-2 rounded-full bg-gray-200 hover:bg-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" *ngIf="!publication.showOptions">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6">
                  </path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" *ngIf="publication.showOptions">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                  </path>
                </svg>
                <div *ngIf="publication.showOptions"
                  class="absolute top-2 right-8  bg-gray-200 hover:bg-gray-300 p-1 rounded-lg  z-10">
                  <button class="block py-1 bg-none text-red-800  font-bold hover:bg-gray-300"
                    (click)="onDeletePublication(publication._id)">Delete</button>
                  <!-- <button class="block py-2 px-4 text-gray-600 hover:bg-gray-100">Editar</button> -->
                </div>
              </button>

            </div>
            <div class="flex">
              <img class="w-8 h-8 rounded-full user-avatar" [src]="publication.userimg" alt="Avatar de usuario">
              <div class="ml-4 user-info">
                <p class="font-semibold user-name text-sm">{{ publication.user }}</p>
                <p class="text-gray-500 post-time text-xs">{{ publication.date_create | date }}</p>
              </div>
            </div>

            <p class="mt-2 post-text text-sm">{{ publication.description }}</p>
            <div class="bg-blue-200 p-1 rounded mt-1 shadow-md border border-blue-400">
              <p class="text-blue-800 font-semibold text-xs">{{ publication.descriptionImg }}</p>
            </div>


            <div class="mt-1\.5 post-image" *ngIf="publication.image">
              <img class="w-full post-image-img" [src]="publication.image" alt="Imagen de la publicación">
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>
</body>

</html>