<div class="profile-content">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="aside">
    <app-aside></app-aside>
  </div>
  <body >
    <div style="margin-top: 10px;" >
        <img src="../../../assets/img/perfil.png" alt="Foto de perfil" class="w-24 h-24 rounded-full mx-auto mb-4">
        <h1 class="text-3xl font-bold mb-2 text-center">Nombre de Usuario</h1>
        <hr class="my-4 border-t border-gray-300">
        <div class="flex justify-center items-center text-gray-600  mb-4">
            <p>Actor Social:</p>
            <p>Entidad:</p>
            <p>Aportes a la comunidad:</p>
        </div>
        <div class="mt-4 " style="background-color: rgba(241, 241, 241, 0.719); margin-left: 10px;height: 100px;width:550px ;border-radius: 10px;">
            <h2 class="text-xl font-semibold mb-2" style="margin-left: 10px;">Descripción del Perfil:</h2>
        </div>
        <div class="mt-4 " style="background-color: rgba(241, 241, 241, 0.719); margin-left: 10px;height: 100px;width:550px ;border-radius: 10px;">
            <h2 class="text-xl font-semibold mb-2">Intereses de Conocimiento:</h2>
        </div>
        <div class="flex justify-center items-center" style="margin-top: 10px;">
          <button type="submit" class="text-blue-700 " style="font-size: 30px;">
            <i class="fa-sharp fa-solid fa-location-dot fa-bounce text-3xl"></i>/
            </button>
        </div>
    </div>
</body>
</div>
