<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
<script src="https://kit.fontawesome.com/7845268ad3.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer class="relative bg-gray-700 pt-8 pb-6 ">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold text-gray-200">Contacto</h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-400">
            Bogota, D.C. - Colombia - Sur América
            Calle 70 No. 7-30 oficina 1001
            Teléfono (+571) 400 00 31

        </h5>
        
        <div class="mt-6 lg:mb-0 mb-6">
          <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-twitter"></i></button><button class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-facebook-square"></i></button><button class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-instagram"></i>
            <!-- LinkedIn -->
            <button
class="bg-white text-indigo-700 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
type="button">
<i class="fab fa-linkedin"></i>
            </button>

<!-- YouTube -->
            <button
class="bg-white text-red-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
type="button">
<i class="fab fa-youtube"></i>
        </button>
          </button>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-Gray-400 text-sm font-semibold mb-2"></span>
            <ul class="list-unstyled">
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/presentation?ref=njs-profile">Inicio</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="https://blog.creative-tim.com?ref=njs-profile">Sobre nosotros</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="https://www.github.com/creativetimofficial?ref=njs-profile">Modelo Territorial</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Lo que hacemos</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-Gray-400 text-sm font-semibold mb-2"></span>
            <ul class="list-unstyled">
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="#">Gestion de Conocimiento</a>
              </li>
              <li>

              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="#">Escuela Virtual</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="#">Contacto </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright © <span id="get-current-year">2021</span><a href="https://www.creative-tim.com/product/notus-js" class="text-blueGray-500 hover:text-gray-800" target="_blank"></a>
          <a href="https://www.creative-tim.com?ref=njs-profile" class="text-black-500 hover:text-black-800">Pacto de productividad derechos reservados</a>.
        </div>
      </div>
    </div>
  </div>

</footer>
