<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/7845268ad3.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer class="relative text-white bg-gray-800 pt-8 pb-6 " tabindex="0" aria-label="Footer con información">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4" tabindex="0">
        <h2 class="text-3xl font-semibold text-gray-200">Contacto</h2>
        <h3 class="text-lg mt-0 mb-2 text-gray-300">
          Bogota, D.C. - Colombia - Sur América
          Calle 70 No. 7-30 oficina 1001
          Teléfono (+571) 400 00 31

        </h3>

        <div class="mt-6 lg:mb-0 mb-6" tabindex="0" aria-label="Botones de redes sociales">
          <button tabindex="0"
            class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <a aria-label="Botón de twitter" href="https://twitter.com/PactoProductivd" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </button>

          <button
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <a aria-label="Botón de Facebook" href="https://www.facebook.com/pactodeproductividad.co" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          </button>
          <button
            class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <a aria-label="Botón de instagram" href="https://www.instagram.com/pactodeproductividad/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </button>
          <!-- LinkedIn -->
          <button
            class="bg-white text-indigo-700 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <a aria-label="Botón de LinkedIn" href="https://www.linkedin.com/company/pactocol/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </button>

          <!-- YouTube -->
          <button
            class="bg-white text-red-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <a aria-label="Botón de Youtube" href="https://www.youtube.com/c/PactodeProductividad" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </button>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-Gray-400 text-sm font-semibold mb-2"></span>
            <ul class="list-unstyled">
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm"
                  href="https://www.creative-tim.com/presentation?ref=njs-profile">Inicio</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm"
                  href="https://blog.creative-tim.com?ref=njs-profile">Sobre nosotros</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm"
                  href="https://www.github.com/creativetimofficial?ref=njs-profile">Modelo Territorial</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm"
                  href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Lo que hacemos</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-Gray-400 text-sm font-semibold mb-2"></span>
            <ul class="list-unstyled">
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="#">Gestion de
                  Conocimiento</a>
              </li>
              <li>

              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="#">Escuela
                  Virtual</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-Gray-400 font-semibold block pb-2 text-sm" href="#">Contacto </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-400 font-semibold py-1">
          Copyright © <span id="get-current-year" class="text-white-500">2021</span><a
            class="text-blueGray-500 hover:text-gray-800" target="_blank"></a>
          <a class="text-black-800 hover:text-black-800">Pacto de productividad derechos reservados</a>.
        </div>
      </div>
    </div>
  </div>

</footer>
