<body>
  <div class="hidden sm:my-20 lg:block fixed float-left mt-10 px-4 w-1/4 max-h-screen overflow-y-auto -ml-10 animate-pulse">
    <!-- Sugerencia de amistad 1 -->
    <div class="bg-gray-300 p-3 m-10 rounded-lg shadow mb-4">
      <div>
        <h2 class="text-lg font-semibold mb-2 bg-gray-400 h-6 w-1/2 rounded-lg"></h2>
        <!-- Usuario en línea 1 -->
        <div class="flex items-center justify-between border-b pb-2 mb-4">
          <div class="flex items-center space-x-2">
            <div class="w-11 h-11 rounded-full bg-gray-400"></div>
            <span class="bg-gray-400 h-5 w-20 rounded-lg"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
