<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>

    <!-- Enlace a FontAwesome utilizando el script proporcionado -->
    <script src="https://kit.fontawesome.com/7845268ad3.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <!-- Utiliza la clase hidden lg:block para ocultar en pantallas pequeñas -->
  <div class="hidden lg:block fixed float-left mt-10 px-4 w-1/4 max-h-screen overflow-y-auto -ml-10"> <!-- Agregamos la clase mr-4 para mover el aside hacia la derecha -->
    <!-- Sugerencia de amistad 1 -->
    <div class="bg-white p-4 m-10 rounded-lg">
        <div>
            <h2 class="text-lg font-semibold mb-2">Lista de Usuarios</h2>
            <!-- Usuario en línea 1 -->
            <div class="flex items-center justify-between border-b pb-2 mb-4">
                <div class="flex items-center space-x-2">
                    <img src="../../../../assets/img/perfil.png" alt="Usuario" class="w-11 h-11 rounded-full">
                    <span>sergio nicolas paez duque </span>
                </div>
            </div>
            <div class="flex items-center justify-between border-b pb-2 mb-4">
              <div class="flex items-center space-x-2">
                  <img src="../../../../assets/img/perfil.png" alt="Usuario" class="w-11 h-11 rounded-full">
                  <span>sergio nicolas paez duque </span>
              </div>
          </div>
        </div>
    </div>
  </div>
</body>

</html>
