<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<div class="container ml-auto mr-auto flex items-center justify-center">
  <div class="headerAuth">
    <app-headerauth></app-headerauth>
  </div>
  <div class="w-full">
    <form class="bg-white px-8 pt-6 pb-8 mb-4">
      <div class="mb-4 mt-12">
        <h1 class="font-bold mb-6 mt-4 md:text-4xl">FORMULARIO DE REGISTRO</h1>
        <div class="grid grid-flow-row sm:grid-flow-col gap-3 md:grid-cols-2">

          <!--Column left-->
          <div class="row-auto">
            <!--First-name-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=V9auOG6U0rY&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=15"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="first-name">Nombres</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <input type="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                id="first-name" name="first-name" placeholder="Inserte sus nombres" required>
            </div>

            <!--Age-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=nIMLCn9S0VY&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=24"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="age">Edad</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <input type="number"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                id="age" name="age" placeholder="Inserte su edad" required>
            </div>

            <!--"I-am-a-person.-->
            <div class="sm:col-span-4 justify-center mb-2 ">
              <a href="https://www.youtube.com/watch?v=Gd2-ldzBTZk&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=5"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="i-am-a-person">Soy una
                  persona</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <select
                class="shadow form-select block w-full p-2 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                name="i-am-a-person" id="i-am-a-person" required>
                <option class="grid grid-flow-row sm:grid-flow-col gap-3" value="auditory">Con discapacidad auditiva
                </option>
                <option value="autism">Con autismo</option>
                <option value="cognitive">Con discapacidad congnitiva</option>
                <option value="physics">Con discapacidad física</option>
                <option value="Training entity">Con discapacidad múltiple</option>
                <option value="psychosocial">Con discapacidad psicosocial</option>
                <option value="Deafblind">Sordociega</option>
                <option value="visual">Con discapacidad visual</option>
                <option value="Non-disabled">Sin descapacidad</option>
              </select>
            </div>

            <!--Type of entity or social actor-->
            <div class="sm:col-span-4  justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=CrY7GS6KKnM&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=3"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="type-of-entity">Tipo de entidad o
                  actor social</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <select
                class="shadow form-select block w-full p-2 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                name="type-of-entity" id="type-of-entity" required>
                <option class="grid grid-flow-row sm:grid-flow-col gap-3" value="company">Empresa privada</option>
                <option value="organization">Organización de personas con discapacidad</option>
                <option value="public entity">Entidad publica - rerritorial(Alcaldia, Gobernación o Ministerio)</option>
                <option value="Intermediary entity">Entidad de intermediación laboral (Agencia de gestión y colocación
                  de empleo, bolsa de empleo)</option>
                <option value="Training entity">Entidad de formación para el trabajo(SENA, institución de formación,
                  etc.)</option>
                <option value="provider entity">Entidad prestadora de servicios a la inclusión</option>
                <option value="Educational institution">Institución de educación superior</option>
                <option value="other">Otra</option>
              </select>
            </div>

            <!--company-name-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=ZcMy1mrsO0A&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=18"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="company-name">Razón social o nombre
                  de la entidad</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <input type="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                id="company-name" name="company-name" placeholder="Inserte la razón social" required>
            </div>

            <!--Departments-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=ZcMy1mrsO0A&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=18"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="departments">Departamentos</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <select id="departamentoSelect"
                class="shadow form-select block w-full p-2 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none">
                <option *ngFor="let departamento of departamentosUnicos" [value]="departamento">{{departamento }}
                </option>
              </select>
            </div>

            <!--Email-->
            <div class="sm:col-span-4 justify-center mb-2 ">
              <a href="https://www.youtube.com/watch?v=JX51GuYLHlY&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=9&pp=iAQB&ab_channel=PactodeProductividad"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="email">Correo</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <input type="email"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                id="email" name="email" placeholder="correo@gmail.com" required>
            </div>

          </div>


          <!-- --------------------------------------------------------- -->
          <!--Column right -->
          <div class="row-auto">
            <!--Last-name-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=aNWSJpAvs1g&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=22&ab_channel=PactodeProductividad"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="last-name">Apellidos</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <input type="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                id="last-name" name="last-name" placeholder="Inserte sus apellidos" required>
            </div>

            <!--Gender-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=__kMM2bBTgI&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=19"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="gender">¿Con qué género te
                  identificas?</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <select
                class="shadow form-select block w-full p-2 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                name="gender" id="gender" required>
                <option value="womam">Mujer</option>
                <option value="man">Hombre</option>
                <option value="trans-man">Hombre trans(transexual, transgenero, travesti)</option>
                <option value="trans-woman">Mujer trans(transexual, transgenero, travesti)</option>
                <option value="others">Otras</option>
              </select>
            </div>

            <!--Personal-description-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=u7YTICI2qcE&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=26"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="personal-description">¿Cúal de estas
                  opciones te describen mejor?</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <select
                class="shadow form-select block w-full p-2 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                name="personal-description" id="personal-description">
                <option value="womam">Indigena</option>
                <option value="man">Gitano (Rom)</option>
                <option value="trans-man">Palenqueto</option>
                <option value="trans-woman">Raizal del archipielago</option>
              </select>
            </div>

            <!--Phone-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=q7jhWAhy_Vg&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=25"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="phone">Celular</label>

                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <input type="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                id="phone" name="phone" placeholder="Inserte su número de celular" required>
            </div>
            <!--country-->
            <div class="sm:col-span-4 justify-center mb-2">
              <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="country">País:</label>
              <input type="email" (click)="countryAlert()"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                id="country" name="country" value="Colombia" readonly>
            </div>

            <!--Cities-->
            <div class="sm:col-span-4 justify-center mb-2">
              <a href="https://www.youtube.com/watch?v=v9JDSXL9fZY&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=29"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="cities">En que ciudad esta
                  ubicado</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <select id="municipioSelect"
                class="shadow form-select block w-full p-2 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none">
                <option *ngFor="let municipio of municipiosUnicos" [value]="municipio">{{ municipio }}</option>
              </select>
            </div>

            <!--password-->
            <div class="sm:col-span-4 justify-center mb-2 ">
              <a href="https://www.youtube.com/watch?v=JX51GuYLHlY&list=PLCndDt4b5CnzTI2HgQ3knxXHcl5dsGNQe&index=9&pp=iAQB&ab_channel=PactodeProductividad"
                target="_blank" class="flex flex-row items-center">
                <label class="block text-black-700 text-sm font-bold mb2 mr-2" for="password">Contraseña</label>
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                  class="svg-inline--fa fa-youtube icon--youtube w-5 h-5 " role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                  </path>
                </svg>:
              </a>
              <input type="password"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                id="password" name="password" placeholder="Inserte su contraseña" required>
            </div>

          </div>
        </div>
        <!--Checkbox -->
        <label class="flex w-full justify-center">
          <input type="checkbox" class="mr-1">
          Acepto los términos y condiciones</label>
        <div class="col-span-1 w-full flex justify-center items-center mt-4 h-10 ">
          <button routerLink="/register"
            class=" flex flex-row justify-center items-center w-44 h-12 bg-[#006186] text-white text-lg border rounded-lg border-r-2 border-b-2 border-l-0 border-t-0 border-black mt-6">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
</div>
