.comment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  z-index: 999;
}

.comment-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #ffffff;
  width: 600px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: left;
}

.comment-modal-content h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.comment-modal-content input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.comment-modal-content button {
  background-color: gray;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-modal-content button:hover {
  background-color: #1152b5;
}

.close {
  color: red;
}

/* Para el botón de "like" sin clic */
.like-button {
  background-color: #ccc;
  /* Color predeterminado */
  /* Otros estilos */
}

/* Para el botón de "like" después de hacer clic */
.like-button.liked {
  background-color: #f00;
  /* Cambia el color cuando se le da "like" */
  /* Otros estilos */
}