<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<div  *ngIf="!isLoading">
<body class="bg-gray-100">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="skeleton">
    <app-skeleton></app-skeleton>
  </div>
  <div class="aside">
    <app-aside></app-aside>
  </div>
  <div class="min-h-screen sm:ml-0 p-4 md:p-8 lg:p-12">
    <div class="max-w-4xl mx-auto">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-3/4 md:mr-4 sm:ml-0 my-20 md:ml-28">
          <div class="bg-white p-4 md:p-6 lg:p-8 rounded-lg shadow mb-4">
            <!-- Información del usuario y entrada de publicación -->
            <div class="flex mb-4">
              <img *ngIf="user && user.userImg" [src]="user.userImg" alt="Imagen de usuario"
                class="w-10 h-10 rounded-full user-image">
              <button
                class="w-full ml-4 p-2 border shadow-md text-gray-800 border-gray-600 bg-transparent hover:bg-gray-100 rounded-lg focus:outline-none focus:border-blue-500 text-left"
                (click)="openModal()">Crea tu publicación...</button>
            </div>

            <div class="mt-2 flex justify-between">
              <div class="space-x-4">
                <div class="custom-modal" *ngIf="isModalVisible == true">
                  <app-modal (newPublication)="newPostCreating($event)"></app-modal>
                </div>
              </div>
            </div>
          </div>

          <!-- Publicaciones -->
          <div *ngFor="let publication of listpublications" class="bg-white p-4 rounded-lg shadow mb-4">

            <div class="flex">
              <img class="w-10 h-10 rounded-full user-avatar" [src]="publication.userimg" alt="Avatar de usuario">
              <div class="ml-4 user-info">
                <p class="font-semibold user-name">{{ publication.username }}</p>
                <p class="text-gray-500 post-time">{{ publication.date_create | date }}</p>
              </div>
            </div>
            <p class="mt-4 post-text">{{ publication.description }}</p>
            <div class="bg-blue-200 p-2 rounded mt-2 shadow-md border border-blue-400" tabindex="0" *ngIf="publication.descriptionImg">
              <p class="text-blue-800 font-semibold" [textContent]="publication.descriptionImg"></p>
            </div>


            <div class="mt-4 post-image" *ngIf="publication.image">
              <img class="w-full post-image-img" [src]="publication.image" tabindex="0" alt={{publication.descriptionImg}}>
            </div>

            <div class="mt-4 post-actions space-y-2">
              <div class="flex justify-between sm:space-x-4">
                <button class="bg-gray-300 hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded like-button"
                [ngClass]="{ 'liked': likedByUser(publication._id) }"
                  (click)="likePublication(publication._id)">
                  {{publication.likes.length}}
                  <i class="fa-regular fa-heart "></i>
                  Me gusta
                </button>

                <button
                  class="bg-gray-300 hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded comment-button sm:w-1/3"
                  (click)="setPublicationIdAndOpenModal(publication._id)">
                  <i class="fa-regular fa-comments"></i>
                  Comentarios
                </button>
              </div>


              <div class="comment-modal" *ngIf="isCommentModalVisible">
                <div class="comment-modal-overlay"></div>
                <div class="comment-modal-content p-4 border border-gray-300 rounded-lg shadow-lg">
                  <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-semibold">Comentar</h2>
                    <button class="close font-bold py-2 px-4 rounded close-button"
                      (click)="closeCommentModal()">Cerrar</button>
                  </div>
                  <input type="text" [(ngModel)]="commentContent" placeholder="Escribe algo..."
                    class="border border-gray-300 rounded-lg p-2 w-full mb-4">
                  <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded publish-button"
                    (click)="createComment()">Publicar</button>

                  <div class="comments-section mt-4 max-h-64 overflow-y-scroll">
                    <h5 class="text-lg font-semibold mb-2">Comentarios</h5>
                    <div *ngFor="let comment of comments" class="mb-2">
                      <div class="flex items-center">
                        <img [src]="comment.userAvatar" alt="Avatar" class="comment-avatar rounded-full w-8 h-8 mr-2">
                        <div>
                          <div class="text-blue-500 font-semibold">{{ comment.userName }}</div>
                          <p class="text-gray-800">{{ comment.content }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</div>
</html>
