<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="home-content ">

  <div class="bg-gray-100 min-h-screen flex justify-center items-center">
    <div class="w-full max-w-2xl bg-white rounded-lg shadow-lg p-4">
      <div class="flex">
        <div class="w-1/4">
          <app-aside></app-aside>
        </div>
        <div class="w-3/4">
          <div class="app-loader-overlay" *ngIf="isLoading">
            <app-loader></app-loader>
          </div>
          <div class="bg-white p-4 rounded-lg shadow mb-4">
            <!-- informacion del usuario y post input -->
            <div class="flex mb-4">
              <img src="https://www.softzone.es/app/uploads/2018/04/guest.png?x=480&quality=40" alt="Imagen de usuario" class="w-10 h-10 rounded-full user-image">
              <input [(ngModel)]="postText" placeholder="Write your post..." class="w-full ml-4 p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"></textarea>
            </div>
            <div class="mt-2 flex justify-between">
              <div class="button-group">
                <button class="text-blue-500 hover:underline insert-button" (click)="openModal()">Insertar Imagen</button>
                <button class="text-blue-500 hover:underline insert-button" (click)="openModal()">Insertar archivo </button>
                <button class="text-blue-500 hover:underline justify-end publish-button" (click)="publishPost()">Publicar</button>
              </div>
            </div>
          </div>

          <!--Publicaciones -->
          <div *ngFor="let publication of listpublications" class="bg-white p-4 rounded-lg shadow mb-4">
            <div class="flex">
              <img class="w-10 h-10 rounded-full user-avatar" [src]="publication.userimg" alt="Avatar de usuario">
              <div class="ml-4 user-info">
                <p class="font-semibold user-name">{{ publication.username }}</p>
                <p class="text-gray-500 post-time">{{ publication.date_create | date }}</p>
              </div>
            </div>
            <p class="mt-4 post-text">{{ publication.description }}</p>
            <div class="mt-4 post-image" *ngIf="publication.image">
              <img class="w-full post-image-img" [src]="publication.image" alt="Imagen de la publicación">
            </div>
            <div class="mt-4 post-actions">
              <button class="like-button" [ngClass]="{ 'liked': likedPublications[publication._id] }" (click)="likePublication(publication._id)"> I Like</button>
              <button class="comment-button" (click)="openCommentModal(publication._id)">Comment</button>
              <div class="comment-modal" *ngIf="isCommentModalVisible">
                <div class="comment-modal-content">
                  <h2>Create Comment</h2>
                  <textarea [(ngModel)]="commentContent" placeholder="Write your comment"></textarea>
                  <button class="publish-button" (click)="createComment(publication._id)">Post Comment</button>
                  <button class="close-button" (click)="closeCommentModal()">Close Down</button>
                  <div class="comments-section">
                    <h5>Comments</h5>
                    <div *ngFor="let comment of comments">
                      <p>{{comment.content}} - User ID: {{comment.user}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="share-button">Share</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-modal" *ngIf="isModalVisible == true">
    <app-modal></app-modal>
  </div>



</body>
</html>
