<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Agrega las siguientes líneas para incluir Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7845268ad3.js" crossorigin="anonymous"></script>
  <style>
    .header {
      background-color: transparent;
      padding: 1rem;
      border-bottom: 2px solid #3498db;
    }
  </style>
</head>
<body>
  <header class="h-14 fixed top-0 left-0 w-full bg-white z-50 shadow-md p-5">
    <nav class="mt-[-14px] container mx-auto flex justify-between items-center space-x-8">
      <div class="flex items-center">
        <img src="../../../../assets/img/cropped-logo_positivo.png" alt="logo" class="w-20 h-10" />
      </div>
      <!-- Utiliza clases de Tailwind CSS para el menú -->
      <div class="hidden md:block">
        <ul class="flex space-x-4 md:space-x-6 lg:space-x-22">
          <!-- En pantallas pequeñas, oculta el menú -->
          <li class="md:hidden lg:block"><a href="#" class="text-gray-500">Inicio</a></li>
          <li class="md:hidden lg:block"><a href="#" class="text-gray-500">Sobre Nosotros</a></li>
          <li class="md:hidden lg:block"><a href="#" class="text-gray-500">Modelos Territorial</a></li>
          <li class="md:hidden lg:block"><a href="#" class="text-gray-500">Lo Que Hacemos</a></li>
          <li class="md:hidden lg:block"><a href="#" class="text-gray-500">Conocimiento</a></li>
          <li class="md:hidden lg:block"><a href="#" class="text-gray-500">Escuela Virtual</a></li>
          <li class="md:hidden lg:block"><a href="#" class="text-gray-500">Contacto</a></li>
          <!-- En pantallas medianas, reduce el tamaño del texto -->
          <li class="hidden md:block lg:hidden"><a href="#" class="text-gray-500 text-sm">Inicio</a></li>
          <li class="hidden md:block lg:hidden"><a href="#" class="text-gray-500 text-sm">Sobre Nosotros</a></li>
          <li class="hidden md:block lg:hidden"><a href="#" class="text-gray-500 text-sm">Modelos Territorial</a></li>
          <li class="hidden md:block lg:hidden"><a href="#" class="text-gray-500 text-sm">Lo Que Hacemos</a></li>
          <li class="hidden md:block lg:hidden"><a href="#" class="text-gray-500 text-sm">Conocimiento</a></li>
          <li class="hidden md:block lg:hidden"><a href="#" class="text-gray-500 text-sm">Escuela Virtual</a></li>
          <li class="hidden md:block lg:hidden"><a href="#" class="text-gray-500 text-sm">Contacto</a></li>
        </ul>
      </div>
      <div class="fixed inset-y-2 right-6 z-50">
        <div class="md:hidden">
          <div class="lg:hidden">
            <div class="flex items-center space-x-10">
              <div class="group relative">
                <a class="text-blue-600 text-2xl" (click)="toggleDropdown()">
                  <i class="fa-solid fa-bars"></i>
                </a>
                <div *ngIf="isDropdownOpen" class="absolute right-0 top-0 bg-white border border-black border-solid rounded-md shadow-md p-2 w-48 text-left">
                  <!-- Agrega el botón de cierre ("X") -->
                  <button class="close-button text-gray-500 hover:text-gray-700" aria-label="Cerrar" (click)="toggleDropdown()">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                  <p>Inicio</p>
                  <p>Sobre Nosotros</p>
                  <p>Modelos Territorial</p>
                  <p>Lo Que Hacemos</p>
                  <p>Conocimiento</p>
                  <p>Escuela Virtual</p>
                  <p>Contacto</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </nav>
  </header>
