<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <script src="https://kit.fontawesome.com/7845268ad3.js" crossorigin="anonymous"></script>
  <style>
    .header {
      background-color: transparent;
      padding: 1rem;
      border-bottom: 2px solid #3498db;
    }
  </style>
</head>
<body>
  <header class="fixed top-0 left-0 w-full bg-white z-50 shadow-md p-5">
    <nav class="container mx-auto flex justify-center items-center space-x-20">
      <div class="flex items-center">
        <img src="../../../../assets/img/cropped-logo_positivo.png" alt="logo" class="w-20 h-10" />
      </div>
      <ul class="menu space-x-8" >
        <li><a href="#" class="text-gray-500">Inicio</a></li>
        <li><a href="#" class="text-gray-500">Sobre Nosotros</a></li>
        <li><a href="#" class="text-gray-500">Modelos Territorial</a></li>
        <li><a href="#" class="text-gray-500">Lo Que Hacemos</a></li>
        <li><a href="#" class="text-gray-500">Conocimiento</a></li>
        <li><a href="#" class="text-gray-500">Escuela Virtual</a></li>
        <li><a href="#" class="text-gray-500">Contacto</a></li>
    </ul>
    </nav>
  </header>
</body>
</html>
