<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="headerauth.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="header">
        <nav class="container">
            <div class="logo">
                <img src="../../../../assets/img/cropped-logo_positivo.png" alt="logo">
            </div>
            <ul class="menu">
                <li><a href="#" class="text-gray-500">Inicio</a></li>
                <li><a href="#" class="text-gray-500">Sobre Nosotros</a></li>
                <li><a href="#" class="text-gray-500">Modelos Territorial</a></li>
                <li><a href="#" class="text-gray-500">Lo Que Hacemos</a></li>
                <li><a href="#" class="text-gray-500">Conocimiento</a></li>
                <li><a href="#" class="text-gray-500">Escuela Virtual</a></li>
                <li><a href="#" class="text-gray-500">Contacto</a></li>
            </ul>
            <div class="icons">
                <label for="cars"><a href="#" class="text-gray-500 ml-3">
                    <i class="fas fa-user"></i>
                </a></label>

<select name="Perfil" id="perfil">
  <option value="volvo">Perfil</option>
  <option value="saab">Cerrar sesion</option>
</select>

                
                <a href="#" class="text-gray-500 ml-3">
                    <i class="fas fa-star"></i>
                </a>
            </div>
        </nav>
    </header>
</body>
</html>
