<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <div class="container ml-auto mr-auto flex items-center justify-center">
    <div class="headerAuth">
      <app-headerauth></app-headerauth>
    </div>
  </div>
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-white p-4 md:p-8 lg:p-12 rounded shadow-lg md:w-96 lg:w-128">
      <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <div class="mb-4 md:mb-6 lg:mb-8">
          <label class="text-2xl font-semibold mb-2 md:mb-4">Nueva Contraseña:</label>
          <input type="password" id="newPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="newPassword">
          <div *ngIf="passwordForm.get('newPassword')?.hasError('minlength')" class="text-red-500 text-xs mt-1">La contraseña debe tener al menos 8 caracteres.</div>
        </div>

        <div class="mb-4 md:mb-6 lg:mb-8">
          <label class="text-2xl font-semibold mb-2 md:mb-4">Confirmar Contraseña:</label>
          <input type="password" id="confirmPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="confirmPassword">
          <div *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched && !passwordForm.get('confirmPassword')?.hasError('mismatch')" class="text-red-500 text-xs mt-1">La confirmación de contraseña es requerida.</div>
          <div *ngIf="passwordMismatch" class="text-red-500 text-xs mt-1">Las contraseñas no coinciden.</div>
        </div>

        <div class="flex items-center justify-center">
          <button type="submit" [disabled]="!passwordForm.valid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full md:w-auto">Actualizar Contraseña</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
